/**
 * Stylesheet
 */
//  Table of Contents:
//
//	 0. Mixins
//   1. Global
//   2. Home
//   3. Profile
//   4. Films
//   5. Media Room
//   6. Downloads
//   7. Reach Out

@import 'app';
// 0. Mixins
// ----------
@import 'components/mixins';

// 1. Global
// ---------
@import 'components/global';

// Navigation
// -----------

header{
	position: relative;
}
header.single{
	height: 250px;
	@include breakpoint(medium){
		height: 460px;
	}
}
header.page{
	height: 250px;
	@include breakpoint(medium){
		height: 460px;
	}
}
.title-bar-wrap, .title-bar, .top-bar{
	width:100%;
}
.title-bar-wrap, .top-bar{
	position: absolute;
	z-index: 111;
}
.top-bar{
	padding: 0 $topbar-hpadding;
	border-bottom: $topbar-border;
}
.top-bar ul{ 
	background: none;
	li { 
		padding-bottom: $topbar-menu-padding;
		&:hover{
			border-bottom: 1px solid $site-color;
		}
	}
}
.top-bar-left{
	padding-top: $topbar-vpadding;
}
.top-bar-right{
	padding-top: $topbar-menu-padding;
	text-transform: uppercase;
}
// 2. Home
// ---------

// Frontpage Slider
// -----------------
.featured-movie-info {
	position: absolute;
	left: 0;
	bottom: 0; //test
	width: 100%;	
	color: $white;
	background: $dark-transparent; //test
	h6{ font-size: rem-calc(18); margin-bottom:0; }
	p,a{ font-size: rem-calc(14); }	
	@include breakpoint(medium){
		padding: 0 $topbar-hpadding; 
	}
}
.featured-movie-info.single{
	padding-top: $topbar-hpadding/2;
	padding-bottom: $topbar-hpadding/2;
}
.featured-movie-info-wrap{
	padding: $topbar-hpadding 0;
	border-bottom: 8px solid $site-color;
}
.orbit-bullets{
	position: absolute;
	right: 0;
	bottom: 0;
	width: 200px;
}

// 3. Profile
// ---------
.profile {
	p {	
		@include breakpoint(medium){
			@include typo-para;
		}
	}	
	.intro {
		@include breakpoint(medium){
			padding: 0 40px !important;
		}
	}
	.intro-body{
		@include breakpoint(large){
			padding-left:20px !important;
		}
	}
	.intro,.intro-body{
		p:last-child{
			margin-bottom: 0;
		}
	}
}
.pic-col{
	margin-bottom: rem-calc(50);
	@include breakpoint(large){
		margin-bottom: 0;
	}
}
.leadership {
	p {
		@include typo-para;
	}
	blockquote{
		margin-top: rem-calc(37);
	}
}
// 4. Films
// ---------
.film-grid .column{
	margin-bottom: 3rem;
}
.card {
	position: relative;
	.card-section{
		position: absolute;
		width: 100%;
		left: 0;
		top: 50%;
	}
}
// Single Film
.film-synopsis{
	margin-top:2rem;
	// &:first-letter{
	// 	font-size: 40px;
	//     font-weight: bold;
	//     float: left;
	//     vertical-align: middle;
	//     margin: 0 20px 0 0;
	// }
}
.film-trivia{
	padding: 2rem;
	float: right;
	max-width: 350px;
	h5{ color: $site-color; }
}
.film-crew{
	h6{ 
		text-transform:uppercase; 
		font-weight:bold;
		font-size: 90%;
	}
	.column{
		@include breakpoint(medium){
			padding-right: 2rem;
		}
		&:nth-child(2){
			@include breakpoint(medium){
				padding-left: 2rem;
			}
		}
	}
}
.member{	
	margin-bottom: 2rem;
}

// 5. Media Room
// ---------

// 6. Downloads
// ---------

// 7. Reach Out
// ---------
