// Global Styles
// ----------------
.body{
	background: $white;	
}
p{
	font-family: $paragraph-font-family;
}
// Figures
figure{
	margin: 0;
}
figure.lm{
	@include margin('left');
}
figure.rm{
	@include margin('right');
}
figure.rm.small{
	position: relative;
	@include breakpoint(medium){
		top:-30px;
		margin-right: rem-calc(50);	
	}
}
// Display
.wrap{
 	width: 100%;
 	max-width: $global-width;
 	margin: 0 auto;
}
.inner-wrap{
	padding: $global-innerwrap;
}
.mobile-wrap{
	padding: 0 $global-padding;
	@include breakpoint(medium){
		padding:0;
	}
}
.v-center-wrap{
	@include breakpoint(medium){
		display: table;
	}
}
.v-center{
	@include breakpoint(medium){
		float:none !important;
		display:table-cell;
		vertical-align:middle;
	}
}
.highlt-lt{
	margin-bottom: $global-padding;
	h6{
		text-transform: uppercase;
	}
}
.highlt-rt{	
	@include breakpoint(large){
		margin-top: $section-padding/2;
		font-size: 1.2rem;
		color: $site-color;
	}
}
// Typography
.fl-big{
	&:first-letter{
		font-size: 40px;
	    font-weight: bold;
	    float: left;
	    vertical-align: middle;
	    margin: 0 20px 0 0;
	}
}
blockquote.lm{
	@include margin('left');
}
// Floating Buttons
.floating-buttons{
	position: absolute;
	left: 0;
	top: -19px;
}
// Movie meta boxes
.box{
	display: inline-block;
    padding: 0.34rem 0.5rem;
    font-size: rem-calc(12);
    line-height: 1;
    white-space: nowrap;
    cursor: default;
    text-transform: uppercase;   
}
.column > div .box {
	&:first-child{
    	padding-left:0;
    }
    &:last-child{
    	padding-right:0;
    } 
}
.movie-genre-block,.movie-lang{
	margin-right:20px;
}
.movie-lang{
	background: $white;
    color: $black;
    &:last-child { margin-right: 0; }  
}
.mobile-lang {
	position: relative;	
	.movie-lang{
		position: absolute;
		bottom:0;
		right: 0;
		@include breakpoint(medium){
			position: relative;
		}
	}

}
.movie-genre-block{
	display: inline-block;
}
.movie-genre{
	color: $white;
}
// Section blocks
section.row{
	position: relative;
	padding-top: $section-padding/2;
	padding-bottom: $section-padding/2;
	@include breakpoint(medium){
		padding-top: $section-padding;
		padding-bottom: $section-padding;
	}
}
section.alt{
	background-color: $section-alt-color;
}
section.newsletter{
	background: url(/assets/img/newsletter-bg.jpg) center center no-repeat;
	background-size: cover;
}
section.row.fp{
	@include breakpoint(medium){
		padding-left: rem-calc(50);
		padding-right: rem-calc(50);
	}	
	@include breakpoint(large){
		padding-left: rem-calc(70);
		padding-right: rem-calc(70);
	}
}
section.row.lp{
	@include breakpoint(medium){
		padding: ($section-padding - 30) 0 ($section-padding - 30) rem-calc(50);
	}
	@include breakpoint(large){
		padding: $section-padding 0 $section-padding rem-calc(70);
	}
}
section.row.rp{
	@include breakpoint(medium){
		padding: ($section-padding - 30) rem-calc(50) ($section-padding - 30) 0;
	}	
	@include breakpoint(large){
		padding: $section-padding rem-calc(70) $section-padding 0;
	}
}
section.row.no-tp{
	padding-top:0;
}
section .meta{
	margin-bottom: $section-padding/2;
	h6{ text-transform: uppercase; }
}
//footer
footer.row{
	padding-top: $section-padding/4;
	padding-bottom: $section-padding/4;
	@include breakpoint(medium){
		padding-top: $section-padding/2;
		padding-bottom: $section-padding/2;
	}	
}