<div class="title-bar-wrap" data-sticky-container>
    <div class="title-bar hide-for-large sticky" data-sticky data-sticky-on="small" data-margin-top="0">
        <div class="title-bar-left">
            <button class="menu-icon" type="button" data-toggle="offCanvas"></button>
            <span class="title-bar-title">Jubilee Productions</span>
        </div>
    </div>
</div>

<div class="top-bar show-for-large">
    <div class="top-bar-left">
        <a href="#" title="Jubilee Productions">
            <img src="assets/img/logo.png" alt="Jubilee Productions">
        </a>
    </div>
    <div class="top-bar-right">
        <nav>
        <ul class="menu">
            <li><a href="#">Profile</a></li>
            <li><a href="single.html">Films</a></li>
            <li><a href="#">Media Room</a></li>
            <li><a href="#">Downloads</a></li>
            <li><a href="#">Reach Out</a></li>            
        </ul>
        </nav>        
    </div>
</div>